{% extends "base.html" %}

<{% block script %}
	<script>
		function getParameterByName(name, url) {
		    if (!url) {
		    	url = window.location.href;
		    }
		    name = name.replace(/[\[\]]/g, "\\$&");
		    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
		        results = regex.exec(url);
		    if (!results) return null;
		    if (!results[2]) return '';
		    return decodeURIComponent(results[2].replace(/\+/g, " "));
		}



		$(document).ready(function(){
			console.log("working");
			var query = getParameterByName("q")
			var feedList = [];

			var parseFeed = function(){
				console.log('vvvvv')
				if(feedList === 0) {
					$("#feed-container").text("no posts")
				

				} else {
					$.each(feedList, function(index, feed) {
							var feedKey = index;
							var feedDescription = feed.description;
							var feedUser = feed.user;
							console.log(feed);
							$("#feed-container").append(
								"<hr/><div class= 'media'><div class='media-left'><img src=" + feed.image +" width='300' height='200'><div class='media-body'><p/>" + feedDescription + "| <a href =" + feed.image +">View</a><br/></div></div></div>"
							);
								
						});
				}
			};

			(function fetchPosts() {
 				console.log("fetching...")
				$.ajax({
					url : "/api/feed",
					data: {
						"q" : query
					},
					method : 'GET',
					success: function(data){
						console.log('data', data);
						feedList = data
						parseFeed()
					},
					error:function(data){
						console.log("error")
					
						console.log(data)
					}
				})
			})();

		});

		$("#update-form").submit(function(event) {
			event.preventDefault()
			var formData = new FormData(this);
			
			$.ajax({
					url : "/api/feed/create/",
					data: formData,
					method : "POST",
					processData: false,
					contentType: false,
					success: function(data){
						$('#id_image').val('')
						$('#id_description').val('');

						$("#feed-container").append(
							"<hr/><div class= 'media'><div class='media-left'><img src=" + data.image +" width='300' height='200'><div class='media-body'><p/>" + data.description + "| <a href =" + data.image +">View</a><br/></div></div></div>"
						)

					},
					error:function(data){
						console.log("error")
					
						console.log(data.status)
					}
				})
			
		});
	</script>
{% endblock script %}  

{% block content %}
	<div class='row'> 
		<div class="col-sm-3 col-xs-12" >
			<h3>{{ request.user}}</h3>
		</div>
		<div class='col-sm-9'>
	 
			<!-- {% if not request.GET.q %} -->
			 <div>
				{% include "feed/form.html" with form=create_form action_url=create_url btn_title='update' form_id='update-form' %}
			</div>

			<hr>
			<!-- {% endif %} -->
			<div id="feed-container">
			</div>
<!-- 			{% for object in object_list %}
		 	
				<div class="media">
				  <div class="media-left">
				    <a href="#">
				      {% if object.image %} 
				      	<img src="{{ object.image.url }}" alt="image" width="300" height="200">
				      
				      {% endif %}
				    </a>
				 	<div class="media-body">
					 	<p>{{ object.description }} | <a href ='{{object.get_absolute_url}}'>View</a><br/>
						<p>{{ object.updated|timesince }} ago 
					</div>
				  </div>
				</div>
				
		 	{% endfor %} -->

		 	



	 	</div>
	</div>


{% endblock content %}

